
@{
    ViewBag.Title = "Din betalning är nu återbetalad";
}

<h2>@ViewBag.Title</h2>
<h3>Du har fått en återbetalning av den betalning du nyss gjorde. I din Swish app bör du ha fått information om återbetalningen.</h3>
