
@{
    SwishApi.Models.PaymentRequestECommerceResponse result = ViewBag.result as SwishApi.Models.PaymentRequestECommerceResponse;

    if (!string.IsNullOrEmpty(result.Error))
    {
        ViewBag.Title = "ERROR";
    }
    else
    {
        ViewBag.Title = "Väntar på att slutföra betalningen";
    }
}

@section scripts {
    @if (string.IsNullOrEmpty(result.Error))
    {
    <script type="text/javascript">
        var response = true;
        var statusUrl = "@Html.Raw(result.Location)";

        function CheckStatus() {
            if(response == true) {
                response = false;

                $.ajax({
                    url: "/Test/PaymentStatus",
                    type: "POST",
                    dataType: 'json',
                    data: "{ 'statusUrl': '" + statusUrl + "' }",
                    contentType: "application/json",
                    success: function (data, textStatus, jqXHR) {
                        console.log("Request successful! data: " + data);

                        if (data.errorCode === null || data.errorCode == '')
                        {
                            if (data.status == 'CREATED') {
                                response = true;
                                setTimeout(CheckStatus, 3000);
                            } else {
                                if (data.status == 'PAID') {
                                    $('#statusMessage').html('<h3>Betalningen slutförd!</h3><a href="/Test/Refund/' + data.paymentReference + '?a=' + data.amount + '&p=' + data.payeePaymentReference + '" class="btn btn-primary">Återköp betalningen</a>');
                                } else {
                                    if (data.status == 'DECLINED') {
                                        $('#statusMessage').html('<h3>Du avbröt betalningen</h3>');
                                    } else {
                                        if (data.status == 'ERROR') {
                                            $('#statusMessage').html('<h3>Något gick fel, tar det mer än 3 minuter utan varken slutföra köpet eller avbryta det så får man detta.</h3>');
                                        } else {
                                            $('#statusMessage').html('<h3>' + data.status + '</h3>');
                                        }
                                    }
                                }
                            }
                        } else {
                            if (data.errorCode == 'WebException') {
                                $('#statusMessage').html('<h3>WebException: ' + data + '</h3>');
                            } else {
                                $('#statusMessage').html('<h3>Exception: ' + data + '</h3>');
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Request Error! textStatus: " + textStatus);
                    }
                });
            }
        }

        CheckStatus();
    </script>
    }
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(result.Error))
{
    <h3>@result.Error</h3>
}
else
{

    <div id="statusMessage">
        <h3>Öppna din Swish app i mobilen och slutför betalningen!</h3>
        <br /><img src="~/Content/ajax-loader-transparent.gif" />
        @*
        // Jag har inte fått denna knapp att fungera, fick att felaktig betalnings reference i swish appen när jag klickade på länken så bortkommenterad så länge.
        @if (!string.IsNullOrEmpty(result.PaymentRequestToken))
        {
            string swishAppUrl = "swish://paymentrequest?token=" + result.PaymentRequestToken;

            <br /><a href="@swishAppUrl">klicka här för att öppna swish appen</a>
        }*@
    </div>
}

