@{
    ViewBag.Title = "Om sidan";
}
<h2>Om sidan</h2>

<p>Denna sida är ett test projekt för att testa Swish för handel i ett ASP.NET MVC projekt.</p>
<p>Hela projektets källkod hittas på <a href="https://github.com/RickardPettersson/swish-for-handel-csharp" target="_blank">Github</a>.</p>
<p>Detta projekt har utvecklats av <a href="http://rickardp.se" target="_blank">Rickard Nordström Pettersson</a> i samband med några olika projekt som ska ta betalt med Swish för handel.</p>
<p>För mer information kan du gå till GetSwish AB´s officiell sida om Swish för handel: <a href="https://www.getswish.se/handel/" target="_blank">https://www.getswish.se/handel/</a></p>

    