@{
    ViewBag.Title = "Startsida";
}

<div class="jumbotron">
    <h1>Test sida för Swish för handel</h1>
    <p class="lead">Denna sida är ett test av Swish för handel i C# ASP.NET MVC.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Testa koden</h2>
        <p>
            I detta projekt ingår GetSwish AB´s test certifikat och projektet är förinställt att kunna testas mot deras test miljö.
        </p>
        <p><a class="btn btn-default" href="/Test">Gå till test sida &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hantera certifikat</h2>
        <p>För att kunna köra ditt egna Swish för handel avtal krävs det att du fixar ett certifikat med GetSwish AB och din bank, klicka nedan på "Läs mer"-knappen för mer information.</p>
        <p><a class="btn btn-default" href="/Cert">Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kör i produktion</h2>
        <p>När du skaffat dig ett certifikat med GetSwish AB så kan du testköra detta projekt mot deras produktions miljö, klicka nedan på "Läs mer"-knappen för mer information.</p>
        <p><a class="btn btn-default" href="/Produktion">Läs mer &raquo;</a></p>
    </div>
</div>